option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-04f251d8c185dd9b3,sg-0d439a65da4d84911
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: "32"
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeType
    value: gp2